html,
body,
h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: #050510;
  color: white;
  overflow: hidden;
}

.root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -38vh;
}

.gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    var(--direction, 0),
    var(--from),
    var(--to)
  );
}

.fancy {
  --direction: 135deg;
  --from: #e44141;
  --to: #4f2af3;
}

.basic {
  --direction: 180deg;
  --from: #eeeeee;
  --to: #dddddd;
}

.big,
.fancy {
  font-size: 6rem;
}

span {
  font-size: 4rem;
}

.glow {
  height: 150px;
  border-radius: 50%;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #e44141, #4f2af3);
  filter: blur(160px);
}

svg {
  --mask-image: radial-gradient(50% 65% at top center, white, transparent); 
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  opacity: 30%;
  position: relative;
  z-index: -1;
  top: -2px;
}

#bubbles {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.bubble {
  border-radius: 50%;
  position: absolute;
}

.dashboard-border {
  border-radius: 20px;
  background: linear-gradient(135deg, #e44141, #4f2af3);
  position: absolute;
  bottom: -200px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 4px;
  width: 80%;
}

.dashboard {
  border-radius: inherit;
  border: 2px solid #231414;
  background: #050510;
  height: 300px;
}

a {
  border-radius: 20px;
  background: linear-gradient(135deg, #e44141, #4f2af3);

  & span {
    background: #050510;
    margin: 1px;
    padding: 20px 40px;
    font-size: 2rem;
    display: inline-block;
    border-radius: inherit;
    color: white;
  }
}
